---
import '@styles/style.scss'
import '@components/LocalScripts.astro'
import Header from '@layouts/Header.astro'
import Footer from '@layouts/Footer.astro'

export interface Props {
	title?: string;
	description?: string;
	ogType?: string;
	containerClass?: string;
}

const title = Astro.props.title ? Astro.props.title + ' | Neo Smart Economy' : 'Neo Smart Economy';
const description = Astro.props.description || 'Neo is an open-source, community driven platform that is leveraging the intrinsic advantages of blockchain technology to realize the optimized digital world of the future.'
const ogType = Astro.props.ogType || 'article'
const containerClass = Astro.props.containerClass || '';

---

<!DOCTYPE html>
<html lang="ja">
<head prefix={`og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# ${ogType}: http://ogp.me/ns/${ogType}#`}>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<meta name="generator" content={Astro.generator} />
	<title>{title}</title>
	<meta name="description" content={description}>
	<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no" />
	<meta name="format-detection" content="telephone=no">
	<meta property="og:locale" content="ja_JP">
	<meta property="og:title" content={title}>
	<meta property="og:description" content={description}>
	<meta property="og:type" content={ogType}>
	<!-- <meta property="og:image" content="http://●●●●●●●●●.jp/img/common/ogimage.jpg"> -->
	<meta name="twitter:card" content="summary_large_image" />
	<link rel="apple-touch-icon" href="/img/common/apple-touch-icon.png">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,800&family=Work+Sans:wght@400;600;700;800&display=swap" rel="stylesheet">
</head>
<body>
	<div id="container" class={containerClass} lang="ja">
		<Header />
		<slot />
		<Footer />
	</div>
</body>
</html>
